html {
	 font: Arial;
	 font-weight:normal;
	 font-variant:normal;
	 font-size: 20px;
	 font-family: sans-serif;
	 font-style: normal;
	}
header, footer {
	text-align: center;
	border:5px solid;
	border-color:rgb(200,10,50);
	background-image:linear-gradient(brown,red);
	width: 100%;
	max-width: 15000px;
	padding: 6px;


}
h1, h2 {
	text-align: center;
	color:brown;
	font-variant: small-caps;
}

figcaption {
	color:rgb(200, 0, 0);
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.1em;

}
q {
	font-style: italic;
	font-family: cursive;
	font-size: 0.85em;
}
footer p {
	font-size: 0.8em;
}
body {
	width: 100%;
	max-width: 1500px;
	padding: 5%;
	margin: auto;
}
.main-section-figure {
	padding: 10px;
	margin: 20px;
	text-align: center;
}
.main-section-figure img{
	padding: 5px;
	width: 50%;
	height: 50%;
	max-height: 600px;
	margin: auto;
}
.main-section {
	background-color: hsla(351, 94%, 84%);
	border-color: rgb(200, 10, 50);
	width: 100%;
	height: auto;
	padding: 10px;
	text-align: center;

}
video {
	padding: 0.5em;
	width: 50%;
	height: 75%;
	border-color:#fc0335;
	border-color: 0.1em;
	border-style: solid;
	border-radius: 25px;
}
#bio {
	text-align: left;
}
#quote{
	padding: 12px;
	border-color:#fc0335;
	border-style: solid;
	border-width: 0.1em;
	box-shadow:darkred 5px 5px 2px;
	
}
#quote q{
	padding: 0.1em;
	color-brown

	box

}
#absolute-image {
	border:5px solid;
	border-radius: 20px;
	border-color: rgb(200,70,50) ;
	background-color: hsla(0, 50%, 50%);
}
#relative-image {
	border:5px solid;
	border-radius: 20px;
	border-color: rgb(200,70,50) ;
	background-color: hsla(0, 50%, 50%);
}
